
body {

  
  
  background-color: black;
  height: 100vh;
  overflow: hidden; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lemon;
  
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}


h1 {
  
  
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  margin: 0rem;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 3;
  
}


h2{
  font-family: 'Space Mono', monospace;
  font-size: clamp(1rem, 5vw, 5rem);
  color: white;
}
h5 {
  left: 8%;
  top: 1%;
  font-family: 'Space Mono', monospace;
  font-size: clamp(1rem, 3vw, 3rem);
  color: white;
  position: absolute;
  padding: 0rem clamp(1rem, 5vw, 3rem);

  translate: -50% -50%;
  z-index: 3;
  background: #474bff;
background: -webkit-linear-gradient(0deg, #474bff 0%, #00a3ff 100%);
background: linear-gradient(0deg, #474bff 0%, #00a3ff 100%);
  Border-radius:55px



}



















a{
  color: white;
  text-align: center;

  
  left: 50%;
  top: 50%;
  
  
}

t9{
  color: white;
  text-align: center;

  
  left: 50%;
  top: 50%;
  
  
}


h9{
  font-family: 'Space Mono', monospace;
  font-size: clamp(1rem, 1vw, 1.25rem);
  color: white;
  
}
